body {
  background-color: #181818;
  color: white;
  padding: 40px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

h1{
  text-align: center;
  color: #2cccc3;
}


table, td, th {
  background-color: #181818 !important;
  color: white !important;
  border-bottom: 1px solid #2cccc3;
}

th{
  font-size: 23px;
}

a {
  text-decoration: none;
  color: white;
}

.add-btn {
  width: 80px;
  background-color: #2cccc3 !important;
  color: #181818;
}

.add-btn:hover {
  width: 80px;
  background-color: #1f938d !important;
  color: #181818;
}

.add-user-btn{
  font-size: 20px;
  width: 120px;
  background-color: #e60576 !important;
  border: none !important;
}

.add-user-btn:hover {
  font-size: 20px;
  width: 120px;
  background-color: #af0459 !important;
}

.edit-btn {
  width: 80px;
  background-color: #181818 !important;
  border: 1px solid #facd3d !important;
  color: #facd3d;
}

.edit-btn:hover {
  width: 80px;
  background-color: #facd3d !important;
  color: #181818;
}


.delete-btn {
  width: 80px;
  background-color: #181818 !important;
  border: 1px solid #e60576 !important;
  color: #e60576;
}

.delete-btn:hover {
  width: 80px;
  background-color: #e60576 !important;
  color: white;
}

.pagination {
    display: flex;
    justify-content: center; 
    gap: 10px;               
    margin: 20px 0;
}

.page-btn {
  color: white;
  font-size: 30px;
}

.page-btn:hover {
  color: #2cccc3;
  font-size: 32px;
}

.edit-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-form {
  text-align: center;
  background-color: #181818;
  border: 1px solid #2cccc3;
  border-radius: 5px;
  width: 500px;
  padding: 20px;
  margin: 20px;
  font-size: 22px;
}

.edit-form label{
  text-align: left;
}

.edit-form input{
  margin: 10px;
  background-color: #181818;
  border: 1px solid #2cccc3;
  border-radius: 5px;
  color: white;
}

.current-page {
  font-size: 22px;         
  font-weight: bold;      
  margin: 0 10px;
  display: inline-block;
  vertical-align: middle;
}

.add-user-right-block{
  background-color: #2cccc3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bi-person-plus-fill{
  font-size: 250px;
  color: #facd3d;
}

.row {
  height: 100vh;
  width: 100vw; 
  margin: 0;
}